


body {
    background-image:url(/src/images/rob-mulally-oacHEtIlXsA-unsplash.jpg);
}

.about-color-theme {
        background-color: #5a5135 ;
        opacity: 0.9; 
}
/* Main Styling */

main {
margin-top: 0.5em;
}

.para {
    margin: 0.5em;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 1.2em;
    padding: 0.5em;
}

/* Resume Styling */

.resume-container {
    margin: 0.5em;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    width: 5em;
}
.resume {
    padding: 0.3em;
    min-width: fit-content;
    width: 4em;
}

/* Tablet Styling*/

@media screen and (min-width: 700px) and (max-width: 1023px){

    .resume-container {
        margin-bottom: 2em;
        width: 7em;
    }
    .resume {
        width: 6em;
    }    
}

/* Desktop Styling*/

@media screen and (min-width: 1024px){
    main {
        flex-direction: row;
    }
    .para {
        font-size: 1.5em;
        height: 70%;
    }
    .para h2 {
        margin: 0.5m;
    }
    .resume-container {
        height: 40%;
        width: 10em;
    }
    .resume {
        width: 6em;
    }    
}

