
/* Body Styling */

body {
    background-image:url(../images/rob-mulally-oacHEtIlXsA-unsplash.jpg);
}

.about-color-theme {
        background-color: #5a5135;
        opacity: 0.95; 
}

/* Nav Animation */

.about-nav-animation {
    box-shadow: inset 0 0 0 0 #5a5135;
}
.about-nav-animation:hover {
    box-shadow: inset 300px 0 0 0 #5a5135;
    border: 2px solid white;
}

/* Nav Styling */

.about-nav-color {
    color: #497a49;
}

/* Main Styling */

main {
margin-top: 0.5em;
height: fit-content;
}

.para {
    margin: 0.5em;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    font-family: 'GFS Neohellenic', sans-serif;
    color: #ce9b50;
    padding: 3em;
    height: fit-content;
}
.para p {
    font-size: 1.5em;
}

/* Resume Animation */

.resume:hover { 
    transform: scale(1.1) 
}

/* Resume Styling */

.resume-container {
    margin: 0.5em;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    width: 7em;
    color: black;
}
.resume {
    padding: 0.3em;
    min-width: fit-content;
    width: 4em;

}

/* Tablet Size Screen*/

@media screen and (min-width: 700px) and (max-width: 1023px){

    .resume-container {
        margin-bottom: 2em;
        width: 7em;
    }
    .resume {
        width: 6em;
    }    
}

/* Desktop Size Screen*/

@media screen and (min-width: 1024px){
    main {
        flex-direction: row;
        margin-top: 0;
        height: 100%;
    }
    .para {
        font-size: 1em;
        height: 90%;
        padding-top: 1em;
        margin-bottom: 0;
    }
    .para h2 {
        margin: 0.5m;
        /* padding-top: 0; */
    }

    .para p {
        font-size: 1.2em;
    }
    .resume-container {
        margin-top: 0;
        height: fit-content;
        width: 10em;
    }
}

